{% extends 'base.html' %}
{%load thumbnail static%}
{% block title %}{{ contact.title }} | {{ fag.title }}{% endblock %}
{% block description %}Полиграфия в Астане{%endblock%}
{% block content %}
    {% if contact %}
    <section class="ftco-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 ftco-animate">
                        <!--<p>{%if contact.image%}-->
                        <!--{% thumbnail contact.image "730x509" crop="center" as im %}-->
                        <!--    <img class="img-fluid" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">-->
                        <!--{% endthumbnail %}-->
                        <!--{%else%}-->
                                           <p> <img src="{{contact.image.url}}"  class="img-fluid">
                                            <!--{%endif%}-->
                    </p>
                        <h2 class="mb-3 font-weight-bold">{{ contact.title }}</h2>
                        <p>{{ contact.text|safe }}</p>
                    </div>
                    {% if sent %}
                        <div class="alert alert-danger" role="alert">
                            <h5>Ваша сообщение успешно отправлено!</h5>
                        </div>
                    {% else %}
                        <div class="container">
                            <div class="contact-form">
                                <form class="decor" action="." method="post">
                                    <div class="form-left-decoration"></div>
                                    <div class="form-right-decoration"></div>
                                    <div class="circle"></div>
                                    <div class="form-inner">
                                        <h3 class="mb-4">Отправить заявку чтобы получить 20% скидку</h3>
                                        {% csrf_token %}
                                        {{ form.name }}
                                        {{ form.email }}
                                        {{ form.phone }}
                                        {{ form.message }}
                                        <input type="submit" value="Отправить">
                                    </div>
                                </form>
                            </div>
                        </div>


                    {% endif %}<!-- END COL -->
                </div>
            </div>

        </section>
        
    {% endif %}
    {% if fag %}
        <section class="ftco-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 ftco-animate">
                        <h2 class="mb-3 font-weight-bold">{{ fag.title }}</h2>
                        <p>{{ fag.text|safe }}</p>
                    </div><!-- END COL -->
                </div>
            </div>

        </section>
    {% endif %}
{% endblock content %}
